@font-face {
  font-family: "linja pona";
  src: url("_assets/linja-pona/linja pona 3 OTF.otf")
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html {
  font-family: "linja pona 3", "linja pona", sans-serif;
  font-size: 16px;
  line-height: 48px
}

main {
  width: 100vw;
  min-height: 100vh;
  padding: 2rem;
  font-size: 2rem;
  white-space: pre-wrap
}
