doctype html
html(lang='en')

  meta(charset='utf-8')    
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='mobile-web-app-capable', content='yes')
  meta(name='theme-color', content='#FFFFFF')
  link(rel='icon', type='image/png', sizes='512x512', href='_assets/favicon/512.png')
  link(rel='icon', type='image/png', sizes='32x32', href='_assets/favicon/32.png')
  link(rel='icon', type='image/png', sizes='16x16', href='_assets/favicon/16.png')
  link(rel='manifest', href='manifest.json')
  link(rel='stylesheet', href='./index.css')

  title isipo
    
  link(rel='stylesheet', href='./index.css')
  script(type='module', src='./index.js')

  body

    noscript
      p This app needs JavaScript to work.

    main(contenteditable, spellcheck="false", data-script="sitelenpona")
      
    aside
      .button.more
        .icon: include _assets/icons/ic_more_vert_24px.svg
      .menu
        .overlay
        .card
          //- div: .logo ilo sitelen-pona
          //- hr
          .row.save
            .latin
            .button: .icon: include _assets/icons/ic_save_24px.svg
          hr
          .row.etc
            .color
              .button.hide(data-color="light"): .icon: include _assets/icons/ic_brightness_5_24px.svg
              .button(data-color="twilight"): .icon: include _assets/icons/ic_brightness_4_24px.svg
              .button.hide(data-color="dark"): .icon: include _assets/icons/ic_brightness_2_24px.svg
              .button.hide(data-color="black"): .icon: include _assets/icons/ic_brightness_1_24px.svg
            .script
              .button(data-script="sitelenpona").hide: .icon: include _assets/icons/ic_script_sitelenpona_24px.svg
              .button(data-script="latin"): .icon: include _assets/icons/ic_script_latin_24px.svg
            .button.about: .icon: include _assets/icons/ic_help_outline_24px.svg
      .about.hide
        .overlay
        .card
          div: .logo ilo sitelen-pona
